.cronometro {
    font-size: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Old Standard TT', serif;
    height: 100px;
    width: 100px;
    color: black;
    font-weight: bold;
    background-color: transparent;
}

